<!DOCTYPE html>
<html>
    <head>
        <style>
            .btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
        </style>
    </head>

    <body>
        <h1></h1>
        <div  >
            <div style="display: flex; justify-content: center;">
                <h1>Select Graph</h1>
            </div>
            <div style="display: flex; justify-content: center;">
                <span style="background-color: brown; height: fit-content;">
                <a class="btn btn-primary" href="{{url_for('get_bar_plot', book=book)}}"> Variation of nodes and edges</a>
                </span>
                <span style="background-color:brown; height: fit-content; margin-left: 10px;">
                    <a class="btn btn-primary" href="{{url_for('get_timeline_chordials', book=book)}}"> Variation of Network</a>
                        
                </span>
            </div>
            
        </div>
    </body>
</html>